services:
  caddy:
    image: caddy
    container_name: caddy
    restart: {{ docker_caddy_restart_policy }}

{% if docker_caddy_capabilities %}
    cap_add:
{% for line in docker_caddy_capabilities %}
      - "{{ line }}"
{% endfor %}
{% endif %}

{% if docker_caddy_ports %}
    ports:
{% for line in docker_caddy_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}

    volumes:
      - "{{docker_caddy_conf}}:/etc/caddy"
      - "{{docker_caddy_srv}}:/srv:ro"
      - "caddy-data:/data"
      - "caddy-config:/config"
{% if docker_caddy_certs %}
      - "{{docker_caddy_certs}}:/etc/ssl/private:ro"
{% endif %}
volumes:
    caddy-config:
    caddy-data:
