services:
  tunnel:
    container_name: cloudflared-tunnel
    image: docker.io/cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN={{docker_cloudflared_tunnel_token}}

{% if docker_cloudflared_tunnel_network_mode is defined %}
    network_mode: {{docker_cloudflared_tunnel_network_mode}}
{% elif docker_cloudflared_tunnel_network is defined %}
    networks:
      - shared_network
networks:
  shared_network:
    name: {{docker_cloudflared_tunnel_network}}
    external: true
{% endif %}
