services:
  nordvpn:
    image: ghcr.io/megascope/nordvpn
    container_name: nordvpn-active
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recomended if using ipv4 only

{% if nordvpn_ports %}
    ports:
{% for line in nordvpn_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}

    volumes:
      - "{{nordvpn_data}}:/var/lib/nordvpn"

{% if nordvpn_shared_network %}
    networks:
      - shared_network
      - nordvpn_network
networks:
  shared_network:
    name: {{nordvpn_shared_network}}
    external: true
  nordvpn_network:
    driver: bridge
{% endif %}
