version: '3'
services:
  plex:
    image: linuxserver/plex
    container_name: "{{ plex_container_name }}"
    hostname: {{ inventory_hostname_short }}-plex
    environment:
      TZ: "{{ time_zone }}"
      ADVERTISE_IP: "{{ plex_advertise_ip }}"
      c: "{{ plex_claim_code }}"
      PUID: {{ plex_uuid }}
      PGID: {{ plex_guid }}
      VERSION: {{ plex_update_version }}
{% if plex_network_mode == 'bridge' %}
    ports: []
      - 32400:32400
{% endif %}
    volumes:
{% for line in plex_volumes %}
      - "{{ line }}"
{% endfor %}
    network_mode: {{plex_network_mode}}
    restart: unless-stopped
