# from https://docs.linuxserver.io/images/docker-qbittorrent
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID={{qbittorrent_uuid}}
      - PGID={{qbittorrent_guid}}
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881

{% if qbittorrent_ports %}
    ports:
{% for line in qbittorrent_ports %}
    - "{{ line }}"
{% endfor %}
{% endif %}

    volumes:
      - "{{qbittorrent_config}}:/config"
      - "{{qbittorrent_downloads}}:/downloads"

    restart: unless-stopped

{% if qbittorrent_upstream_container %}
    network_mode: container:{{qbittorrent_upstream_container}}
{% endif %}
