version: "2.1"
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID={{ docker_radarr_uuid }}
      - PGID={{ docker_radarr_guid }}
      - TZ={{ time_zone }}
    volumes:
{% for line in docker_radarr_volumes %}
      - "{{ line }}"
{% endfor %}
    ports:
      - 7878:7878
    restart: unless-stopped
