# from https://hub.docker.com/r/ubuntu/squid
services:
  squid:
    image: ubuntu/squid:latest
    restart: unless-stopped
    container_name: squid
{% if squid_ports %}
    ports:
{% for line in squid_ports %}
    - "{{ line }}"
{% endfor %}
{% endif %}
    volumes:
      - "squid-log:/var/log/squid"
      - "squid-cache:/var/spool/squid"
      - "{{squid_home}}/squid.conf:/etc/squid/squid.conf"
{% if squid_upstream_container %}
    network_mode: container:{{squid_upstream_container}}
{% endif %}

volumes:
    squid-cache:
    squid-log:

{% if squid_shared_network %}
    networks:
      - shared_network
networks:
  shared_network:
    name: {{squid_shared_network}}
    external: true
{% endif %}
