# essential utils
RUN apt-get update && \
    apt-get install -y locales curl git ripgrep sudo fd-find \
    && rm -rf /var/lib/apt/lists/*

# Install GitHub CLI
RUN curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg -o /usr/share/keyrings/githubcli-archive-keyring.gpg \
  && chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg \
  && echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" > /etc/apt/sources.list.d/github-cli.list \
  && apt-get update \
  && apt-get install -y gh \
  && rm -rf /var/lib/apt/lists/*

# setup utf 8 locale
RUN sed -i 's/^# *en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen \
    && locale-gen en_US.UTF-8 \
    && update-locale LANG=en_US.UTF-8


ENV LANG=en_US.UTF-8

# Download VS Code CLI based on architecture
RUN set -e; \
    ARCH="$(uname -m)"; \
    if [ "${ARCH}" = "x86_64" ]; then \
      CLI_URL="https://code.visualstudio.com/sha/download?build=stable&os=cli-alpine-x64"; \
    elif [ "${ARCH}" = "aarch64" ]; then \
      CLI_URL="https://code.visualstudio.com/sha/download?build=stable&os=cli-alpine-arm64"; \
    elif [ "${ARCH}" = "armv7l" ]; then \
      CLI_URL="https://code.visualstudio.com/sha/download?build=stable&os=cli-alpine-armhf"; \
    else \
      echo "Unsupported architecture: ${ARCH}" && exit 1; \
    fi; \
    curl -L "$CLI_URL" --output /tmp/vscode-cli.tar.gz

RUN tar -xzf /tmp/vscode-cli.tar.gz -C /usr/local/bin
RUN rm /tmp/vscode-cli.tar.gz

# Create non-root user 'vscode' and give sudo access
RUN useradd -m -s /bin/bash vscode && \
    echo "vscode ALL=(root) NOPASSWD:ALL" > /etc/sudoers.d/vscode && \
    chmod 0440 /etc/sudoers.d/vscode

# Set default user and working directory
USER vscode
WORKDIR /home/vscode

# Set up entrypoint
CMD ["/usr/local/bin/code", "tunnel", "--accept-server-license-terms"]
