{%- for line in automation_sudo_nopasswd %}
{{ automation_user }} ALL=(ALL) NOPASSWD: {{ line }}
{% endfor %}
{%- for line in automation_sudo_nopasswd_host %}
{{ automation_user }} ALL=(ALL) NOPASSWD: {{ line }}
{% endfor %}
