services:
  caddy:
    image: caddy
    container_name: caddy
    restart: {{ compose_caddy_restart_policy }}

{% if compose_caddy_capabilities %}
    cap_add:
{% for line in compose_caddy_capabilities %}
      - "{{ line }}"
{% endfor %}
{% endif %}

{% if compose_caddy_network_mode %}
    network_mode: "{{ compose_caddy_network_mode }}"
{% if compose_caddy_network_mode == 'host' and compose_userns_remap != false %}
    userns_mode: "host"
{% endif %}
{% endif %}

{% if compose_caddy_ports and compose_caddy_network_mode != 'host' %}
    ports:
{% for line in compose_caddy_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}

    volumes:
      - "{{compose_caddy_conf}}:/etc/caddy"
      - "{{compose_caddy_srv}}:/srv:ro"
      - "caddy-data:/data"
      - "caddy-config:/config"
{% if compose_caddy_certs %}
      - "{{compose_caddy_certs}}:/etc/ssl/private:ro"
{% endif %}
volumes:
    caddy-config:
    caddy-data:
