# from https://github.com/megascope/dante
services:
  dante:
    image: {{ docker_dante_image }}
    container_name: {{ docker_dante_container_name }}
    restart: {{ docker_dante_restart_policy }}
    environment:
      - PROXY_PASSWORD={{ docker_dante_password }}

{% if docker_dante_config_template %}
    volumes:
      - "{{docker_dante_config_template_location}}:/etc/sockd.conf:ro"
{% endif %}

{% if docker_dante_ports %}
    ports:
{% for line in docker_dante_ports %}
    - "{{ line }}"
{% endfor %}
{% endif %}

{% if docker_dante_upstream_container %}
    network_mode: container:{{docker_dante_upstream_container}}
{% endif %}
