services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:{{compose_openwebui_version}}
    container_name: openwebui
    restart: unless-stopped
{% if compose_openwebui_ports %}
    ports:
{% for line in compose_openwebui_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}
    volumes:
      - openwebui-data:/app/backend/data
    environment:
      WEBUI_URL: {{ compose_openwebui_uri | to_json }}
{% set connection_environment = compose_openwebui_litellm_environment if 'litellm' in compose_apps else {} %}
{% for key, value in (connection_environment | combine(compose_openwebui_environment)).items() %}
      {{ key }}: {{ (value | replace('$', '$$') if value is string else value) | to_json }}
{% endfor %}

{% if compose_openwebui_depends_on %}
    depends_on:
{% for service in compose_openwebui_depends_on %}
      - {{ service }}
{% endfor %}
{% endif %}
volumes:
  openwebui-data:
