services:
  portainer_agent:
    image: portainer/agent:2.33.2
    container_name: portainer_agent
{% if compose_userns_remap != false  %}
    userns_mode: "host"
{% endif %}
    restart: {{ compose_portainer_agent_restart_policy }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes

{% if compose_portainer_agent_ports %}
    ports:
{% for line in compose_portainer_agent_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}
