---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ docker_prowlarr_uuid }}
      - PGID={{ docker_prowlarr_guid }}
      - TZ={{ time_zone }}
    volumes:
      - prowlarr-config:/config
{% if docker_prowlarr_ports %}
    ports:
{% for line in docker_prowlarr_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}
    restart: unless-stopped

  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_HTML=false
      - LOG_LEVEL=info
      - TZ={{ time_zone }}
      - CAPTCHA_SOLVER=none
    # exposed internally on 8191. Add http://flaresolverr:8191 in Prowlarr settings -> indexers -> indexer proxy
    # ports:
    #  - "8191:8191"
    restart: unless-stopped

volumes:
  prowlarr-config:
