services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID={{ docker_radarr_uuid }}
      - PGID={{ docker_radarr_guid }}
      - TZ={{ time_zone }}
    volumes:
      - radarr-config:/config
{% for line in docker_radarr_volumes %}
      - "{{ line }}"
{% endfor %}

{% if docker_radarr_ports %}
    ports:
{% for line in docker_radarr_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}
    restart: unless-stopped

volumes:
  radarr-config:
