# from https://hub.docker.com/r/rclone/rclone
services:
  rclonewebdav:
    image: rclone/rclone:latest
    container_name: "{{ compose_rclonewebdav_container_name }}"
    hostname: "{{ compose_rclonewebdav_container_name }}"
    command: serve webdav /site --addr :8080 --user "{{ compose_rclonewebdav_user }}" --pass "{{ compose_rclonewebdav_password }}"
    user: "{{compose_rclonewebdav_uuid}}:{{compose_rclonewebdav_guid}}"

{% if compose_rclonewebdav_ports %}
    ports:
{% for line in compose_rclonewebdav_ports %}
    - "{{ line }}"
{% endfor %}
{% endif %}

    volumes:
    - "{{ compose_rclonewebdav_site_path }}:/site:ro"

    restart: unless-stopped
