# from https://github.com/SoftEtherVPN/SoftetherVPN-docker
services:
  softether:
    image: softethervpn/vpnserver:stable
    cap_add:
      - NET_ADMIN
    restart: always
{% if docker_softether_ports %}
    ports:
{% for line in docker_softether_ports %}
      - "{{ line }}"
{% endfor %}
{% endif %}

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "{{docker_softether_home}}/data:/mnt"
      - "{{docker_softether_home}}/log:/root/server_log"
      - "{{docker_softether_home}}/packetlog:/root/packet_log"
      - "{{docker_softether_home}}/securitylog:/root/security_log"
