services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    container_name: uptime-kuma
    volumes:
      - kuma-data:/app/data
{% if docker_uptimekuma_ports %}
    ports:
{% for line in docker_uptimekuma_ports %}
    - "{{ line }}"
{% endfor %}
{% endif %}

volumes:
  kuma-data:
