- name: Create custom chain
  become: true
  iptables:
    chain: "{{ firewall_custom_chain }}"
    chain_management: true
    state: present
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Flush custom chain
  become: true
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    flush: yes
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Add custom chain to INPUT
  become: true
  ansible.builtin.iptables:
    chain: INPUT
    action: insert
    jump: "{{ firewall_custom_chain }}"
    comment: defer to custom chain
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept loopback traffic
  become: true
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    in_interface: lo
    jump: ACCEPT
    comment: allow loopback
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept established and related connections
  become: true
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    match: state
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    comment: allow established,related
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept ssh
  become: true
  when: firewall_ssh
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    protocol: tcp
    destination_port: 22
    jump: ACCEPT
    comment: ssh
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept Zerotier
  become: true
  when: firewall_zerotier
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    protocol: udp
    destination_port: 9993
    jump: ACCEPT
    comment: zerotier
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept Tailscale
  become: true
  when: firewall_tailscale
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    protocol: udp
    destination_port: 41641
    jump: ACCEPT
    comment: tailscale
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept Mosh
  become: true
  when: firewall_mosh
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    protocol: udp
    destination_port: 60000:61000
    jump: ACCEPT
    comment: mosh
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept HTTP
  become: true
  when: firewall_http
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    protocol: tcp
    destination_port: 80
    jump: ACCEPT
    comment: http
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

- name: Accept HTTPS
  become: true
  when: firewall_http
  ansible.builtin.iptables:
    chain: "{{ firewall_custom_chain }}"
    protocol: tcp
    destination_port: 443
    jump: ACCEPT
    comment: https
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"

# Ensure persistence tooling is present and active when requested
- name: Ensure iptables-persistent is installed
  become: true
  when: firewall_persist
  ansible.builtin.apt:
    name: iptables-persistent
    state: present
    update_cache: yes
    install_recommends: false
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Enable and start netfilter-persistent service
  become: true
  when: firewall_persist
  ansible.builtin.service:
    name: netfilter-persistent
    enabled: true
    state: started

# This will apply to all loaded/active IPv4 tables.
- name: Save current state of the firewall in system file
  become: true
  when: firewall_persist
  community.general.iptables_state:
    state: saved
    path: /etc/iptables/rules.v4

# This will apply only to IPv6 filter table.
- name: save current state of the firewall in system file
  become: true
  when: firewall_persist
  community.general.iptables_state:
    ip_version: ipv6
    table: filter
    state: saved
    path: /etc/iptables/rules.v6

# only do this at the end so fw rules are active 
- name: Set default policy on INPUT
  become: true
  ansible.builtin.iptables:
    chain: INPUT
    policy: "{{ firewall_default_input_policy }}"
    ip_version: "{{ item }}"
  with_items: "{{ firewall_ip_versions }}"
