- name: Set timezone
  community.general.timezone:
    name: '{{base_timezone}}'
  become: true

- name: Copy banner if specified
  ansible.builtin.copy:
    src: "{{ motd_banner_file }}"
    dest: /etc/motd_banner
    owner: root
    group: root
    mode: '444'
  become: true
  when: motd_banner_file != None
  tags: banner

- name: Check for update-motd.d
  stat:
    path: "/etc/update-motd.d"
  register: update_motd_dir
  tags: banner

- name: Copy script for ubuntu update-motd
  when: update_motd_dir.stat.exists | default(false)
  ansible.builtin.template:
    src: "update-motd.j2"
    dest: "{{ update_motd_dir.stat.path }}/1-dashboard"
    mode: '755'
  become: true
  tags: banner

- name: Check for /etc/motd.d
  stat:
    path: "/etc/motd.d"
  register: rhel_motd_dir
  tags: banner

- name: RHEL motd.d directory, link to banner only
  when: rhel_motd_dir.stat.exists and motd_banner_file != None
  ansible.builtin.file:
    src: /etc/motd_banner
    dest: "{{ rhel_motd_dir.stat.path }}/banner"
    state: link
  become: true
  tags: banner

- name: Setup firewall
  tags: firewall
  when: firewall_enable
  block:
  - include_tasks:
      file: firewall.yml

- name: Check for /etc/needrestart/conf.d
  tags: irritations
  stat:
    path: "/etc/needrestart/conf.d"
  register: needrestart_conf_dir

- name: Set needrestart to be less annoying
  tags: irritations
  when: needrestart_conf_dir.stat.exists
  copy:
    content: "$nrconf{restart} = 'l';\n"
    dest: "{{ needrestart_conf_dir.stat.path }}/no_interactive.conf"
    force: no
  become: true
